html {
  font-family: "Courier New", Courier, monospace;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
